
<body>
    <nav class="navbar navbar-expand-lg fixed-top nav-bar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="#" style="color: #000;">
                <!-- <img src="https://kaikun.io/_next/image?url=https%3A%2F%2Fkaikun-ai-image.s3.ap-northeast-1.amazonaws.com%2Ff593e75d-f0af-4e66-908a-cdff07972009%2F1694663523307.png&w=1920&q=75" class="rounded-circle" alt="..." width="50px" height="50px"> -->
                EDUSITE
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="#" style="color: #000;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  " href="#" style="color: #000;"><i class="fa-solid fa-video" style="color: #000000;"></i> Video Library</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#" style="color: #000;"><i class="fa-solid fa-file-circle-check" style="color: #000000;"></i> Exercise Library</a>
              </li>
            </ul>
            <!-- <div class="dropdown bg-transparent">
              
              <a class="dropdown-toggle" role="button" data-bs-toggle="dropdown" style="color: #000;text-decoration: none;">
                
                Tài khoản
              </a>
            
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
      
              </ul>
            </div> -->
          </div>
    
        </div>
      </nav>
</body>